<h1>{{ title }}</h1>

<section id="upload-section">
  <!-- Subida manual -->
  <div class="manual-upload">
    <h2>Sube tu archivo</h2>
    <input type="file" (change)="onFileSelected($event)" />

    <!-- Popup del formulario -->
    @if (showPopup) {
      <div class="popup">
        <div class="popup-content">
          <span class="close" (click)="showPopup = false">&times;</span>
          <h2>Formulario de Registro</h2>
          <form>
            <label for="Título">Nombre:</label>
            <input type="text" id="title" required />

            <label for="Autor">Correo:</label>
            <input type="email" id="email" required />

            <label for="Año">Contraseña:</label>
            <input type="password" id="password" required />

            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    }
  </div>

  <!-- Búsqueda con dropdown -->
  <div class="api-search">
    <h2>Busca un libro</h2>
    <div class="search-container">
      <input
        type="text"
        placeholder="Escribe el libro..."
        [(ngModel)]="searchTerm"
        (input)="onSearch()"
      />

      @if (filteredBooks.length > 0) {
        <ul class="dropdown">
          @for (book of filteredBooks; track book.id) {
            <li (click)="goToBook(book)">
              <span class="title">{{ book.title }}</span>
              <span class="author">— {{ book.author }}</span>
            </li>
          }
        </ul>
      }
    </div>

  </div>
</section>
