<!-- Contenedor principal -->
<section id="bookshelves">
  @if (bookshelfService.availableBooks.length > 0) {
    @for (book of bookshelfService.bookshelvesItems; track book.id) {
      <article
        class="book-card"
        [routerLink]="book.file_url ? null : ['/book', book.id]"
        (click)="book.file_url ? downloadFile(book) : null"
        [class.downloadable]="book.file_url">

        <img [src]="book.portrait_url || 'assets/default-cover.jpg'" [alt]="book.title" class="book-cover" />

        <div class="book-details">
          <h3>{{ book.title }}</h3>
          <p><strong>Autor:</strong> {{ book.author || 'No especificado' }}</p>
          <p><strong>Año:</strong> {{ book.year || 'No especificado' }}</p>
          <p><strong>Páginas:</strong> {{ book.pages || '0' }}</p>
          <p><strong>Leídas:</strong> {{ book.pages_read }} / {{ book.pages }}</p>
          <p><strong>Rating:</strong> {{ book.rating }} ⭐</p>
          <p><strong>Estado:</strong> {{ book.reading_status }}</p>
          <div class="book-actions">
            <button [routerLink]="['/editbook', book.id]" (click)="$event.stopPropagation()">
              ️ Editar
            </button>
            <button (click)="removeBook(book.id); $event.stopPropagation()">
               Eliminar
            </button>
            <label>Estado de lectura</label>
            <select [(ngModel)]="book.reading_status" name="reading_status">
              <option value="Por leer">Por leer</option>
              <option value="Leyendo">Leyendo</option>
              <option value="Pausado">Pausado</option>
              <option value="Completado">Completado</option>
              <option value="Abandonado">Abandonado</option>
            </select>

            @if (book.file_url) {
              <button (click)="downloadFile(book); $event.stopPropagation()" class="download-btn">
                Descargar
              </button>
            }
          </div>
        </div>
      </article>
    }
  } @else {
    <span>Aún no tienes libros</span>
  }
</section>
