<!-- Contenedor principal -->
<section id="bookshelves">

  @if (bookshelvesItems().length > 0) {

    @for (book of bookshelvesItems(); track book.name) {
      <article class="book-card">
        <img [src]="book.portrait_url" [alt]="book.name" class="book-cover" />

        <div class="book-details">
          <h3>{{ book.name }}</h3>
          <p><strong>Páginas:</strong> {{ book.pages }}</p>
          <p><strong>Leídas:</strong> {{ book.pages_read }} / {{ book.pages }}</p>
          <p><strong>Rating:</strong> {{ book.rating }} ⭐</p>
        </div>
      </article>
    }
  } @else {
    <span>Aún no tienes libros</span>
  }

</section>
