html, simplybooks, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Courier New', Courier, monospace;
  color: black;
  background-color: #f1f1f1;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

.main-content {
  width: 100%;
  max-width: 1200px;
  /* El contenido se centrará horizontalmente pero podrá crecer verticalmente */
}
