footer {
  background-color: #CECECE; /* franja gris clara */
  color: #272635;           /* texto oscuro */
  padding: 0.6rem;
  text-align: center;
  font-size: 0.9rem;
  border-top: 2px solid #A6A6A8;
}
